.slicknav_btn {
    position: relative;
    display: block;
    float: right;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.img-content{
    /* background:url(./img/bg-1.webp),#3a3a3ab7 !important; */
    background: url(img/bg-1.webp), #252e3be3;
    background-blend-mode: overlay;
    height: 900px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    
}

.btn1:hover{
    background: transparent !important;
    text-decoration:underline ;
}


/* @media(max-width:575px)
{
 .font-size{
    font-size: 25PX;
 }
} */


.slider-text{
    height: 55vh;
}

.imj-1{
    background-image: url("img/1.png.webp");
    background-size: cover;
}
