.slicknav_btn {
    position: relative;
    display: block;
    float: right;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.img-content{
    /* background:url(./img/bg-1.webp),#3a3a3ab7 !important; */
    background: url(img/bg-1.webp), #252e3be3;
    background-blend-mode: overlay;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
}

.bg-yellow{
    background-color: #C5A880 !important;
}

.col-lg-10 .btn-1:hover {
    background-color: white !important;
    color: black !important;
}

.slider-text{
    height: 100vh;
}

.btn1:hover{
    background: transparent !important;
    text-decoration:underline ;
    
}
.btn:hover .over-one{
    color: black !important;
}

.label-top-left {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #ff7f0e;
      color: white;
      padding: 6px 14px;
      font-size: 0.85rem;
      font-weight: 600;
      border-radius: 20px;
    }
 .ww:hover{
     background-color: aliceblue !important;
     text-emphasis-color: aliceblue;
    }

.project:hover{
    scale: 1.1 !important;
    transition: all 0.5s !important;
}
/* ____________slider_______________________ */

.team_area .single_team .team_thumb {
    overflow: hidden;
    margin-bottom: 26px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

.social_link{
        /* transition: 0.5s; */
    transform: translateY(100%) scale(1.2);
    opacity: 0;
    visibility: hidden;
   
}

.header_socials {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    left: 2rem;
    position: fixed;
    bottom: 50%;
    top: 40%;
    z-index: 3;
    opacity: 1;
}